.auth{

    .container{
        background-color: rgb(162, 162, 224);
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}