.screen{
    display: flex;
}
.row{
    justify-content: center;
}
.make{
    margin: 20px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(101, 101, 230, 0.3);
    input{
        width: 100%;
    }
    .description{
        width: 100%;
    }
}
