@import "./variables";
.wrap{
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    .control{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        font-size: 30px;
        margin: 20px 0px;
    }
    .monthTotal{
        width: 80%;
        height: 350px;
        transition: height 0.4s;
        overflow: hidden;
        border:2px solid rgba(0,0,0, 0.2);
        border-radius: 30px;
        display: flex;
        flex-direction: column
        ;
        align-items: center;
        .week{
            display: flex;
            width: 100%;
            justify-content: center;
            .day{
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                width: 13%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                .eventExist{
                    color: red;
                }
                font-size: $font-default;
                @media (max-width: 450px) {
                    font-size: $font-small-mid;
                }
            }
            .identify{
                background-color: rgb(190, 190, 235);
                color: white;
            }
            .today{
                background-color: rgb(115, 71, 197);
                color: white;
            }
            .word{
                border-top: 0px;
            }
            .false{
                &:hover{
                    background-color: rgb(190, 190, 235);
                    color: whitesmoke;
                    transition: background-color 0.4s;
                }
            }
            .sun{
                color: red;
            }
            .sat{
                color: blue;
            }
        }
        
    }
}
.hidden{
    height: 30px!important;
}
.hiddenSpecific{
    // height: 0px!important;
    display: none;
}
.specific{
    width: 80%;
    // background-color: blanchedalmond;
    background-color: #f9ca24;
    // transition: height 0.4s;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
}
main{
    .control{
        .btn{
            color:rgb(101, 101, 230);
            border-color: rgb(101, 101, 230);
        }
        .btn:hover,
        .btn:active,
        .btn:focus,
        .btn.active {
        background: rgb(101, 101, 230);
        color: #ffffff;
        border-color: rgb(101, 101, 230);
        }
        font-size: $font-medium;
        @media (max-width: 450px) {
            font-size: $font-default;
        }
        button{
            font-size: $font-default!important;
            @media (max-width: 450px) {
                font-size: $font-small!important;
            }
        }
    }
}