@import "./variables";
.menuBar{
    padding: 2vh;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    .btn{
        color:rgb(101, 101, 230);
        border-color: rgb(101, 101, 230);
    }
    .btn:hover,
    .btn:active,
    .btn:focus,
    .btn.active {
    background: rgb(101, 101, 230);
    color: #ffffff;
    border-color: rgb(101, 101, 230);
    }
}
.center{
    align-items: center;
}
.logo{
    h3{
        font-size: $font-medium;
        margin-bottom: 0;
    @media (max-width: 400px) {
        font-size: $font-default;
    }
    }
    color: rgb(101, 101, 230);
}
.ymd{
    font-size: $font-default;
    @media (max-width: 400px) {
        font-size: $font-small;
    }
}
.login{
    button{
        font-size: $font-default;
        @media (max-width: 400px) {
            font-size: $font-small;
    }
    }
    display: flex;
    justify-content: center;
    align-items: center;
}