.menuBar{
    padding: 2vh;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}
.center{
    align-items: center;
}
.logo{
    font-size: 30px;
    color: rgb(101, 101, 230);
}
.ymd{
    font-size: 30px;
}
.login{
    font-size: 20px;
    display: flex;
    justify-content: center;
}